@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Roboto:wght@300&display=swap');

$tableHeader: #05a3b8;
$primaryBtn: rgb(67, 141, 252);

.usersTable {
	background: white;
	width: 90%;
	background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
	border-radius: 2rem;
	padding: 2rem;
	margin-left: 4rem;
	backdrop-filter: blur(1rem);
	display: flex;
	flex: 2;
	flex-direction: column;
}

h1 {
	color: #05a3b8;
	font-weight: Bold;
	font-size: 3rem;
	opacity: 0.8;
	padding: 10px 30px;
}
h2 {
	color: #05a3b8;
	font-weight: 500;
	opacity: 0.8;
	padding: 10px 30px;
}

h3 {
	color: #05a3b8;
	font-weight: 600;
	opacity: 0.8;
	padding: 10px 30px;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid #ddd;
}

th {
	background-color: $tableHeader;
	color: #fff;
	text-align: left;
	padding: 8px;
	border-right: 1px solid rgba(242, 242, 242, 0.3);
}

td {
	text-align: left;
	padding: 10px;
	border-right: 1px solid rgba(242, 242, 242, 0.3);
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}
